[submodule "third-party/blend2d"]
	path = third-party/blend2d
	url = git@github.com:blend2d/blend2d.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third-party/fmtlib"]
	path = third-party/fmtlib
	url = https://github.com/fmtlib/fmt.git
